# Local IDE settings
.idea/

# Local test data
tests/.test-*/

# Local application runtime data
app/data/settings.json
app/data/*.log
app/data/*.pid
app/data/state.json
app/data/*.request

# Generated installer build artifacts
installer/build/*

# Temporary distribution output
dist/*
